In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('attribution_allocation_student_data.csv')

In [3]:
df.head()

   convert_TF    touch1    touch2    touch3 touch4 touch5  tier
0        True  referral  referral  referral  email    NaN     1
1        True  referral   display   display  email    NaN     1
2        True     email   display  referral    NaN    NaN     1
3        True  referral  referral     email    NaN    NaN     1
4        True    social  referral       NaN    NaN    NaN     1

In [4]:
df['convert_TF'] = df['convert_TF'].astype(str)

In [5]:
df['convert_TF'] = df['convert_TF'].map(
                   {"True":1 ,"False":0})

In [6]:
df.head()

   convert_TF    touch1    touch2    touch3 touch4 touch5  tier
0           1  referral  referral  referral  email    NaN     1
1           1  referral   display   display  email    NaN     1
2           1     email   display  referral    NaN    NaN     1
3           1  referral  referral     email    NaN    NaN     1
4           1    social  referral       NaN    NaN    NaN     1

In [7]:
df_tier1 = df[df['tier'] == 1]
df_tier2 = df[df['tier'] == 2]
df_tier3 = df[df['tier'] == 3]

In [8]:
Con_rate_tier1 = df_tier1['convert_TF'].sum()/df_tier1.shape[0]
Con_rate_tier2 = df_tier2['convert_TF'].sum()/df_tier2.shape[0]
Con_rate_tier3 = df_tier3['convert_TF'].sum()/df_tier3.shape[0]

In [9]:
CAC_1 = 5000/df_tier1['convert_TF'].sum()
CAC_2 = 10000/df_tier2['convert_TF'].sum()
CAC_3 = 15000/df_tier3['convert_TF'].sum()

In [10]:
CAC_1

1.7705382436260624

In [11]:
CAC_2

2.044153720359771

In [12]:
CAC_3

2.4740227610094014

In [13]:
Con_rate_tier1

0.24872291703364452

In [14]:
Con_rate_tier2

0.21543068522106745

In [15]:
Con_rate_tier3

0.17799894310375197

# Q1

In [16]:
df_tier1.head()

   convert_TF    touch1    touch2    touch3 touch4 touch5  tier
0           1  referral  referral  referral  email    NaN     1
1           1  referral   display   display  email    NaN     1
2           1     email   display  referral    NaN    NaN     1
3           1  referral  referral     email    NaN    NaN     1
4           1    social  referral       NaN    NaN    NaN     1

In [17]:
df['Last interaction'] = df.iloc[:, 1:].ffill(axis=1).iloc[:, -2]
df_tier1['Last interaction'] = df_tier1.iloc[:, 1:].ffill(axis=1).iloc[:, -2]
df_tier2['Last interaction'] = df_tier2.iloc[:, 1:].ffill(axis=1).iloc[:, -2]
df_tier3['Last interaction'] = df_tier3.iloc[:, 1:].ffill(axis=1).iloc[:, -2]

<ipython-input-17-395974612e6d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tier1['Last interaction'] = df_tier1.iloc[:, 1:].ffill(axis=1).iloc[:, -2]
<ipython-input-17-395974612e6d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tier2['Last interaction'] = df_tier2.iloc[:, 1:].ffill(axis=1).iloc[:, -2]
<ipython-input-17-395974612e6d>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tier3['Last interaction'] = df_tier3.iloc[:, 1:].ffill(axis=1).iloc[:, -2]

In [18]:
channel_list = df['Last interaction'].unique()

q1(a) First interaction

In [20]:
dict_1a_tier1 = {}
for channel in channel_list:
    dict_1a_tier1[channel] = df_tier1[df_tier1['touch1'] == channel]['convert_TF'].sum()
    
dict_1a_tier2 = {}
for channel in channel_list:
    dict_1a_tier2[channel] = df_tier2[df_tier2['touch1'] == channel]['convert_TF'].sum()
    
dict_1a_tier3 = {}
for channel in channel_list:
    dict_1a_tier3[channel] = df_tier3[df_tier3['touch1'] == channel]['convert_TF'].sum()

In [21]:
df_1a_tier1 = pd.DataFrame.from_dict(dict_1a_tier1,orient = 'index', columns = ['convert_num'])
df_1a_tier1 = df_1a_tier1.reset_index().rename(columns = {'index':'channel'})

df_1a_tier2 = pd.DataFrame.from_dict(dict_1a_tier2,orient = 'index', columns = ['convert_num'])
df_1a_tier2 = df_1a_tier2.reset_index().rename(columns = {'index':'channel'})

df_1a_tier3 = pd.DataFrame.from_dict(dict_1a_tier3,orient = 'index', columns = ['convert_num'])
df_1a_tier3 = df_1a_tier3.reset_index().rename(columns = {'index':'channel'})

In [22]:
spending_tier1 = [1000,1000,1000,1000,1000,0,0]
spending_tier2 = [2000,2000,2000,2000,2000,0,0]
spending_tier3 = [3000,3000,3000,3000,3000,0,0]

In [23]:
df_1a_tier1['spending'] = spending_tier1
df_1a_tier2['spending'] = spending_tier2
df_1a_tier3['spending'] = spending_tier3

In [24]:
df_1a_tier1['CAC'] = df_1a_tier1['spending']/df_1a_tier1['convert_num']
df_1a_tier2['CAC'] = df_1a_tier2['spending']/df_1a_tier2['convert_num']
df_1a_tier3['CAC'] = df_1a_tier3['spending']/df_1a_tier3['convert_num']

In [25]:
df_1a_tier1

          channel  convert_num  spending       CAC
0           email          264      1000  3.787879
1        referral         1519      1000  0.658328
2          social          475      1000  2.105263
3     paid_search          129      1000  7.751938
4         display          435      1000  2.298851
5          direct            1         0  0.000000
6  organic_search            1         0  0.000000

In [26]:
df_1a_tier2

          channel  convert_num  spending       CAC
0           email          402      2000  4.975124
1        referral         2719      2000  0.735565
2          social          823      2000  2.430134
3     paid_search          211      2000  9.478673
4         display          726      2000  2.754821
5          direct            4         0  0.000000
6  organic_search            7         0  0.000000

In [27]:
df_1a_tier3

          channel  convert_num  spending       CAC
0           email          618      3000  4.854369
1        referral         3257      3000  0.921093
2          social          982      3000  3.054990
3     paid_search          328      3000  9.146341
4         display          870      3000  3.448276
5          direct            1         0  0.000000
6  organic_search            7         0  0.000000

q1(b) Last interaction

In [51]:
dict_tier1 = {}
for channel in channel_list:
    dict_tier1[channel] = df_tier1[df_tier1['Last interaction'] == channel]['convert_TF'].sum()
    
dict_tier2 = {}
for channel in channel_list:
    dict_tier2[channel] = df_tier2[df_tier2['Last interaction'] == channel]['convert_TF'].sum()
    
dict_tier3 = {}
for channel in channel_list:
    dict_tier3[channel] = df_tier3[df_tier3['Last interaction'] == channel]['convert_TF'].sum()

In [55]:
df_1b_tier1 = pd.DataFrame.from_dict(dict_tier1,orient = 'index', columns = ['convert_num'])
df_1b_tier1 = df_1b_tier1.reset_index().rename(columns = {'index':'channel'})

df_1b_tier2 = pd.DataFrame.from_dict(dict_tier2,orient = 'index', columns = ['convert_num'])
df_1b_tier2 = df_1b_tier2.reset_index().rename(columns = {'index':'channel'})

df_1b_tier3 = pd.DataFrame.from_dict(dict_tier3,orient = 'index', columns = ['convert_num'])
df_1b_tier3 = df_1b_tier3.reset_index().rename(columns = {'index':'channel'})

In [63]:
spending_tier1 = [1000,1000,1000,1000,1000,0,0]
spending_tier2 = [2000,2000,2000,2000,2000,0,0]
spending_tier3 = [3000,3000,3000,3000,3000,0,0]

In [64]:
df_1b_tier1['spending'] = spending_tier1
df_1b_tier2['spending'] = spending_tier2
df_1b_tier3['spending'] = spending_tier3

In [68]:
df_1b_tier1['CAC'] = df_1b_tier1['spending']/df_1b_tier1['convert_num']
df_1b_tier2['CAC'] = df_1b_tier2['spending']/df_1b_tier2['convert_num']
df_1b_tier3['CAC'] = df_1b_tier3['spending']/df_1b_tier3['convert_num']

In [69]:
df_1b_tier1

          channel  convert_num  spending       CAC
0           email          281      1000  3.558719
1        referral         1211      1000  0.825764
2          social          625      1000  1.600000
3     paid_search          176      1000  5.681818
4         display          528      1000  1.893939
5          direct            1         0  0.000000
6  organic_search            2         0  0.000000

In [70]:
df_1b_tier2

          channel  convert_num  spending       CAC
0           email          555      2000  3.603604
1        referral         2107      2000  0.949217
2          social         1060      2000  1.886792
3     paid_search          347      2000  5.763689
4         display          818      2000  2.444988
5          direct            1         0  0.000000
6  organic_search            4         0  0.000000

In [71]:
df_1b_tier3

          channel  convert_num  spending       CAC
0           email          655      3000  4.580153
1        referral         2696      3000  1.112760
2          social         1275      3000  2.352941
3     paid_search          481      3000  6.237006
4         display          946      3000  3.171247
5          direct            5         0  0.000000
6  organic_search            5         0  0.000000

q1(c) Position based interaction

In [28]:
dict_1c_tier1 = {}
for channel in channel_list:
    dict_1c_tier1[channel] = df_tier1[df_tier1['touch1'] == channel]['convert_TF'].sum()/2 + df_tier1[df_tier1['Last interaction'] == channel]['convert_TF'].sum()/2
    
dict_1c_tier2 = {}
for channel in channel_list:
    dict_1c_tier2[channel] = df_tier2[df_tier2['touch1'] == channel]['convert_TF'].sum()/2 + df_tier2[df_tier2['Last interaction'] == channel]['convert_TF'].sum()/2
    
dict_1c_tier3 = {}
for channel in channel_list:
    dict_1c_tier3[channel] = df_tier3[df_tier3['touch1'] == channel]['convert_TF'].sum()/2 + df_tier3[df_tier3['Last interaction'] == channel]['convert_TF'].sum()/2

In [29]:
df_1c_tier1 = pd.DataFrame.from_dict(dict_1c_tier1,orient = 'index', columns = ['convert_num'])
df_1c_tier1 = df_1c_tier1.reset_index().rename(columns = {'index':'channel'})

df_1c_tier2 = pd.DataFrame.from_dict(dict_1c_tier2,orient = 'index', columns = ['convert_num'])
df_1c_tier2 = df_1c_tier2.reset_index().rename(columns = {'index':'channel'})

df_1c_tier3 = pd.DataFrame.from_dict(dict_1c_tier3,orient = 'index', columns = ['convert_num'])
df_1c_tier3 = df_1c_tier3.reset_index().rename(columns = {'index':'channel'})

In [30]:
spending_tier1 = [1000,1000,1000,1000,1000,0,0]
spending_tier2 = [2000,2000,2000,2000,2000,0,0]
spending_tier3 = [3000,3000,3000,3000,3000,0,0]

In [31]:
df_1c_tier1['spending'] = spending_tier1
df_1c_tier2['spending'] = spending_tier2
df_1c_tier3['spending'] = spending_tier3

In [32]:
df_1c_tier1['CAC'] = df_1c_tier1['spending']/df_1a_tier1['convert_num']
df_1c_tier2['CAC'] = df_1c_tier2['spending']/df_1a_tier2['convert_num']
df_1c_tier3['CAC'] = df_1c_tier3['spending']/df_1a_tier3['convert_num']

In [33]:
df_1c_tier1

          channel  convert_num  spending       CAC
0           email        272.5      1000  3.787879
1        referral       1365.0      1000  0.658328
2          social        550.0      1000  2.105263
3     paid_search        152.5      1000  7.751938
4         display        481.5      1000  2.298851
5          direct          1.0         0  0.000000
6  organic_search          1.5         0  0.000000

In [34]:
df_1c_tier2

          channel  convert_num  spending       CAC
0           email        478.5      2000  4.975124
1        referral       2413.0      2000  0.735565
2          social        941.5      2000  2.430134
3     paid_search        279.0      2000  9.478673
4         display        772.0      2000  2.754821
5          direct          2.5         0  0.000000
6  organic_search          5.5         0  0.000000

In [35]:
df_1c_tier3

          channel  convert_num  spending       CAC
0           email        636.5      3000  4.854369
1        referral       2976.5      3000  0.921093
2          social       1128.5      3000  3.054990
3     paid_search        404.5      3000  9.146341
4         display        908.0      3000  3.448276
5          direct          3.0         0  0.000000
6  organic_search          6.0         0  0.000000

# Q2

In [74]:
from collections import defaultdict

In [93]:
channel_list = list(channel_list)

In [94]:
channel_list.remove('direct')
channel_list.remove('organic_search')

In [97]:
dict2 = defaultdict(list)

for channel in channel_list:
    margin_1 = (df_1b_tier1[df_1b_tier1['channel'] == channel].iloc[0,2])/(df_1b_tier1[df_1b_tier1['channel'] == channel].iloc[0,1])
    margin_2 = (df_1b_tier2[df_1b_tier2['channel'] == channel].iloc[0,2] - (df_1b_tier1[df_1b_tier1['channel'] == channel].iloc[0,2]))/(df_1b_tier2[df_1b_tier2['channel'] == channel].iloc[0,1] - (df_1b_tier1[df_1b_tier1['channel'] == channel].iloc[0,1]))
    margin_3 = (df_1b_tier3[df_1b_tier3['channel'] == channel].iloc[0,2] - (df_1b_tier2[df_1b_tier2['channel'] == channel].iloc[0,2]))/\
    (df_1b_tier3[df_1b_tier3['channel'] == channel].iloc[0,1] - (df_1b_tier2[df_1b_tier2['channel'] == channel].iloc[0,1]))
    dict2[channel].append(margin_1)
    dict2[channel].append(margin_2)
    dict2[channel].append(margin_3)

In [99]:
df_2 = pd.DataFrame(dict2)

In [100]:
df_2

       email  referral    social  paid_search   display
0   3.558719  0.825764  1.600000     5.681818  1.893939
1   3.649635  1.116071  2.298851     5.847953  3.448276
2  10.000000  1.697793  4.651163     7.462687  7.812500